<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    
    <link rel="stylesheet" type="text/css" href="http://www.datatables.net/release-datatables/media/css/demo_table.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.datatables.net/release-datatables/media/css/demo_page.css"/>
    
    <link type="text/css" href="stylesheets/jquery-ui-1.8.4.custom.css" rel="Stylesheet" />	
    <script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="scripts/datatable_functions.js"></script>
    <script type="text/javascript" language="javascript" src="http://www.datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>   

    
    <title>JuMi Firmware Manager</title>
  </head>

  <body>
  <p><table class='myHeading' width="100%"><tr >
  <td width="10"/>
    <td >
    Current user is: {{ userText }} </td>
    
    <td width="20%" align="right">
    {% if profileText %}
     <button id="buttonProfile" type="button" class="ui-state-default ui-corner-all">{{profileText}}</button>
     {% endif %}
    <button onclick="location.href='{{url}}'" type="button" class="ui-state-default ui-corner-all">{{urlText}}</button>
     </td>
     
      <td width="15%" align="right"><button id="buttonHelp" type="button" class="ui-state-default ui-corner-all">Help</button></td>
  <td width="10"/>
    </tr></table></p>

<div id="tabs">
<ul>
	<li><a href="#firsttab">My Devices</a></li>
	<li><a href="#secondtab">Device Manager</a></li> 
	<li><a href="#thirdtab">Firmware Manager</a></li>
</ul>

<div id="firsttab">{% include "tab_mydevices.html" %}</div>
<div id="secondtab">{% include "tab_devices.html" %}</div>
<div id="thirdtab">{% include "tab_firmware.html" %}</div>
</div> <!--tabs -->



{% include "profile.html" %}   
{% include "help.html" %}
{% include "scripts.html" %}  


  </body>
</html>
