<div class="insideTab">   

<table cellpadding="0" cellspacing="0" border="0" class="display" id="devicesTable">
	<thead>
		<tr>
            <th>Unique Identifier</th>
			<th>Name of Device</th>
            <th>Device Group</th>
            <th>Manufactorer</th>
		</tr>
	</thead>
	<tbody>
{% for device in devices %}  
		<tr >
			<td>{{ device.deviceID}}</td>
			<td>{{ device.name|escape }}</td>
            <td>{{ device.group.name }}</td>
            <td>{{device.manufactorer.name}}</td>
		</tr>
{% endfor %}
	</tbody>
	<tfoot>
		<tr>
            <th>Unique Identifier</th>
			<th>Name of Device</th>
            <th>Device Group</th>
            <th>Manufactorer</th>
		</tr>
	</tfoot>
</table>

<p>
	<button id="buttonDevice" type="button" class="ui-state-default ui-corner-all">New Device</button>
</p>    

<div id="dialogDevice" title="Add Device">
	<p>
		Please provide details for the new device.
	</p>
    <form>
    <fieldset>
      <label for="deviceId">Unique Identifier</label>
      <input type="text" name="deviceId" id="deviceId" class="text ui-widget-content ui-corner-all" />
      <label for="deviceName">Name</label>
      <input type="text" name="deviceName" id="deviceName" class="text ui-widget-content ui-corner-all" />
      <p><label for="devDevGroup">Device Group</label><br/>
      <select name="deviceGroup" id="devDevGroup" class="text ui-widget-content ui-corner-all fullWidth" size="1">
      {% for group in groups %}
      <option>{{group.name}}</option>
      {% endfor %}
      </select></p>
      <p><label for="devManName">Manufactorer</label><br/>
      <select name="manufactorer" id="devManName" class="text ui-widget-content ui-corner-all fullWidth" size="1">
      {% for man in manufactorers%}
      <option>{{man.name}}</option>
      {% endfor %}
      </select> </p>
    </fieldset>
    </form>    
</div>      

<div id="accordion">
<h3><a href="#">Configure device groups ...</a></h3>
<div> <!-- accord 1-->

<div class="insideTab">       
<table cellpadding="0" cellspacing="0" border="0" class="display" id="deviceGroupsTable">
	<thead>
		<tr>
			<th>Name of Device Group</th>
		</tr>
	</thead>
	<tbody>
{% for group in groups %}    
		<tr>
			<td>{{ group.name }}</td>
		</tr>
{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Name of Device Group</th>
		</tr>
	</tfoot>
</table>

    
<p>
	<button id="buttonDeviceGroup" type="button" class="ui-state-default ui-corner-all">New Device Group</button>
</p>    
<div id="dialogDevGroup" title="Add Device Group">
	<p>
		Please provide details for the new device group.
	</p>
    <form>
    <fieldset>
      <label for="groupName">Name</label>
      <input type="text" name="groupName" id="groupName" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>    
</div>  
</div><!-- insideTab-->
</div><!-- accord 1-->



<h3><a href="#">Configure Manufactorers ...</a></h3>
<div><!-- accord 2-->
<div class="insideTab"width>       
    
<table cellpadding="0" cellspacing="0" border="0" class="display" id="manufactorersTable">
	<thead>
		<tr>
			<th>Name of Manufactorer</th>
            <th>Home page</th>
		</tr>
	</thead>
	<tbody>
    {% for man in manufactorers %}  
		<tr>
			<td> {{ man.name }} </td>
            <td> {{ man.website }}</td>
		</tr>
    {% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Name of Manufactorer</th>
            <th>Home page</th>
		</tr>
	</tfoot>
</table>

<p>
	<button id="buttonMan" type="button" class="ui-state-default ui-corner-all">New Manufactorer</button>
</p>    
<div id="dialogMan" title="Add Manufactorer">
	<p>Please provide details for new manufactorer entry.</p>
    <form>
    </fieldset>
        <label for="manName">Name</label>
        <input type="text" name="manName" id="manName" class="text ui-widget-content ui-corner-all" />
        <label for="manWebsite">Home page</label>
        <input type="text" name="manWebsite" id="manWebsite" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>    
</div> <!--dialogMan-->

</div> <!-- insideTab-->
</div> <!-- accord 2-->

</div> <!--accordion-->

</div> <!-- insideTab -->
