<div class="insideTab">

<table cellpadding="0" cellspacing="0" border="0" class="display" id="firmwareTable">
	<thead>
		<tr>
			<th>Firmware Group Name</th>
            <th>Source</th>
            <th>Status of group</th>
			<th>Latest release</th>
			<th>Release date</th>
            <th>Last update check</th>
		</tr>
	</thead>
	<tbody>
{% for group in firmwareGroups %}    
		<tr>
			<td>{{ group.name }}</td>
			<td>{{ group.origin.name }}</td>
			<td>{{ group.developmentStatus.name }}</td>
            <td/>
            <td/>
            <td/>
		</tr>
{% endfor %}

	</tbody>
	<tfoot>
		<tr>
			<th>Firmware Group Name</th>
            <th>Source</th>
            <th>Status of group</th>
			<th>Latest release</th>
			<th>Release date</th>
            <th>Last update check</th>
		</tr>
	</tfoot>
</table>

<p>
<button id="fwGroupAdd" type="button" class="ui-state-default ui-corner-all">New firmware group</button>
<button id="fwGroupDetails" type="button" class="ui-state-default ui-corner-all">Show details and release histroy for selected row</button>
<button id="fwGroupUpdatecheck" type="button" class="ui-state-default ui-corner-all">Check for updates for selected row</button>
</p>

<div id="dialogFWGroup" title="Add Firmware Group">
	<p>
		Please provide details for the new firmware.
	</p>
    <form>
    <fieldset>
      <label for="fwGroupName">Name</label>
      <input type="text" name="fwGroupName" id="fwGroupName" class="text ui-widget-content ui-corner-all" />
      <label for="fwGroupHomepage">Home page</label>
      <input type="text" name="fwGroupHomepage" id="fwGroupHomepage" class="text ui-widget-content ui-corner-all" />
      <label for="fwGroupNotes">Notes</label>
      <input type="text"  name="fwGroupNotes" id="fwGroupNotes" class="text ui-widget-content ui-corner-all"/>
      <p><label for="fwSource">Source</label><br/>
      <select name="fwSource" id="fwSource" class="text ui-widget-content ui-corner-all fullWidth" size="1">
      {% for group in firmwareSources %}
      <option>{{group.name}}</option>
      {% endfor %}
      </select></p>
      <p><label for="fwStatus">Delopment Status</label><br/>
      <select name="fwStatus" id="fwStatus" class="text ui-widget-content ui-corner-all fullWidth" size="1">
      {% for status in firmwareStatus%}
      <option>{{status.name}}</option>
      {% endfor %}
      </select> </p>
    </fieldset>
    </form>    
</div>      

<div id="dialog-fwDetails" title="Details for Firmware Group">
	<p><strong>Details</strong></p>
    <p>
    <table class="detailTable" width="100%">
    <tr><td width="30%">Name</td><td width="70%"><span id="fwDetailsName">244</span></td></tr>
    <tr><td width="30%">Home page</td><td><span id="fwDetailsHP">244</span></td></tr>
    <tr><td width="30%">Notes</td><td><span id="fwDetailsNotes">244</span></td></tr>
    <tr><td width="30%">Source</td><td ><span id="fwDetailsSource">244</span></td></tr>
    <tr><td width="30%">Status</td><td ><span id="fwDetailsStatus">244</span></td></tr>
    </table>
    </p>
        
        <hr/><strong>Firmware release history</strong><br/>
</p>
</div>



<div id="accordionFirmware">
<h3><a href="#">Configure sources groups ...</a></h3>
<div> <!-- accord 1-->
<div class="insideTab"> 
<table cellpadding="0" cellspacing="0" border="0" class="display" id="fwSourcesGroupsTable">
	<thead>
		<tr>
			<th>Name of Source Group</th>
		</tr>
	</thead>
	<tbody>
{% for group in firmwareSources %}    
		<tr>
			<td>{{ group.name }}</td>
		</tr>
{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Name of Source Group</th>
		</tr>
	</tfoot>
</table>

<p>
	<button id="buttonFWSourceGroup" type="button" class="ui-state-default ui-corner-all">New Firmware Source Group</button>
</p>    
<div id="dialogFWSourceGroup" title="Add Firmware Source Group">
	<p>
		Please provide details for the new firmware source group.
	</p>
    <form>
    <fieldset>
      <label for="fwSourceGroupName">Name</label>
      <input type="text" name="fwSourceGroupName" id="fwSourceGroupName" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>    
</div>  

</div><!-- insideTab-->
</div><!-- accord 1-->



<h3><a href="#">Configure firmware status groups ...</a></h3>
<div><!-- accord 2-->
<div class="insideTab"width>       
<table cellpadding="0" cellspacing="0" border="0" class="display" id="fwStatusTable">
	<thead>
		<tr>
			<th>Name of Development Status</th>
		</tr>
	</thead>
	<tbody>
{% for status in firmwareStatus %}    
		<tr>
			<td>{{ status.name }}</td>
		</tr>
{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Name of Development Status</th>
		</tr>
	</tfoot>
</table>
<p>
	<button id="buttonFWStatus" type="button" class="ui-state-default ui-corner-all">New Development Status</button>
</p>    
<div id="dialogFWStatus" title="Add Development Status">
	<p>
		Please provide details for the new development status.
	</p>
    <form>
    <fieldset>
      <label for="fwStatusName">Name</label>
      <input type="text" name="fwStatusName" id="fwStatusName" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>    
</div>  

</div> <!-- insideTab-->
</div> <!-- accord 2-->

</div> <!--accordionFirmwares-->

</div><!--insideTab-->

